header {
    .top-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {    
            list-style-type: none;
            a {
                display: block;
                padding: 1rem;
                color: $functional-darkest;
                font-size: 14px;
                text-decoration: none;
                &:hover {
                    color: $link-hover-gray;
                    text-decoration: none;
                    padding-bottom: .75rem;
                    border-bottom: .25rem solid $rock-dark;
                }
            }
        }
    }
    img {
        max-width: 100px;
    }
}

.announcement-bar {
    background-color: $rock-dark;
    color: white;
    z-index: 10;
    position: relative;
    text-align: center;
    .announcement-bar-message {
        font-weight: normal;
        padding: .5rem 22px;
        margin: 0px;
    }
    .announcement-bar-close-icon {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}

.menu-main-navigation-container {
    position: relative;
    padding: 0;
    text-align: center;
    a {
        text-transform: uppercase;
    }
}

.site-header-icons-wrapper {
    a {
        padding: 10px 5px;
        span {
            font-size: 14px;
            color: $functional-dark;
        }
    }
}


// tablet and up
@media (min-width: $tablet-bp) {
    .mobile-hamburger {
        display: none;
    }
}

// tablet and down
@media (max-width: $tablet-bp) {
    .menu-main-navigation-container {
        display: none;
    }
    .secondary-nav-link {
        display: none;
    }
    header {
        .container-sm, .container {
            max-width: 100%;
        }
    }
    .menu-container  {
        height: 48px;
    }
}