/* COLORS */

$functional-darkest: #333333;
$functional-dark: #767676;
$functional-light: #C9C9C9;
$functional-lightest: #EDEDED;

$sand-darkest: #775E41;
$sand-dark: #B79B7B;
$sand-mid: #DBCDBD;
$sand-light: #FFEAD1;
$sand-lightest: #FFF3E6;

$rock-darkest: #6D2E1D;
$rock-dark: #B14B2F;
$rock-mid: #D27156;
$rock-light: #ECD9D4;
$rock-lightest: #F6ECEA;

$stone-darkest: #41444E;
$stone-dark: #686E7E;
$stone-mid: #989DAA;
$stone-light: #C7CAD1;
$stone-lightest: #E0E2E6;

$sun-darkest: #B2821A;
$sun-dark: #E0A527;
$sun-mid: #EECD87;
$sun-light: #F5E3BC;
$sun-lightest: #FBF4E4;

$link-hover-gray: #606060;

// BREAKPOINTS

$mobile-bp: 480px;
$tablet-bp: 768px;
$desktop-bp: 992px;

// # Mobile
// @media (min-width: 480px)

// # Tablet
// @media (min-width: 768px) 

// # Desktop
// @media (min-width: 992px)